svg {
  width: 100%;
  height: 600px;
}
.country {
  stroke: #ffffff;
  stroke-width: 0.5;
}

.wrapper {
  margin-top: 20px;
}

.wrapper ul {
  column-count: 3;
  column-gap: 20px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.wrapper li {
  margin-bottom: 10px;
}

td {
  text-align: center;
}

th {
  width: 150px !important;
}
